body{
	magrin: 0;
	font-family: 'Comic Neue', Helvitica, Arial, sans-serif;
	color: #FFFAFA;
	font-size: 20px;
	line-height: 30px;
	background-image: url("https://static.vecteezy.com/system/resources/previews/000/246/903/original/abstract-blue-comic-background-with-dotted-design-vector.jpg");
	background-color: #1E90FF;
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	position: relative;
}

header{
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1, h2{
	font-family:'Comic Neue', cursive;
}

header h1{
	color: white;
	font-size: 75px;
	text-align: center;
}

header img{
	border-radius: 150px;
	width: 300px;
	border: 10px solid dimgray;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

main img{
	max-width: 100%
}

h2{
	font-size: 45px;
	color: white;
	margin: 40px 0 10px;
}

h3{
	font-size: 30px;
}

a{
color: white;
}

a:hover{
	color: #1E90FF;
	background-color:#B0C4DE;
}

p{
	font-style: italic;
	font-family: 'Acme', sans-serif;
	font-size: 20px;
}