body{
	magrin: 0;
	font-family: 'Comic Neue', Helvitica, Arial, sans-serif;
	font-size: 20px;
	line-height: 30px;
	background-image: url("https://c7.uihere.com/files/48/768/954/retro-red-comic-background-halftone-with-rays-thumb.jpg");
	background-color: #4169E1;
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	position: relative;
}

.bubble:before {
  content: "";
  position: absolute;
  left: -1rem;
  top: 0.15rem;
  width: 100%;
  height: 100%;
  /* with the same texture, but different color, for both the texture and the background */
  background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(35)" opacity="1" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g fill="%23250E17"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'),
    #000;
  background-size: 12px, 100%;
  border: 0.4rem solid #000;
  z-index: -5;
}

header{
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1, h2{
	font-family:'Comic Neue', cursive;
}

header h1{
	color: white;
	font-size: 50px;
	text-align: center;
}

header img{
	border-radius: 150px;
	width: 300px;
	border: 10px solid skyblue;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

main img{
	max-width: 100%
}

h2{
	font-size: 35px;
	color: #778899;
	margin: 40px 0 10px;
}