body{
	magrin: 0;
	font-family: 'Comic Neue', Helvitica, Arial, sans-serif;
	font-color: white;
	font-size: 20px;
	line-height: 30px;
	background-image: url("https://media.istockphoto.com/photos/spotted-popart-blue-background-blank-frame-with-copy-space-picture-id1132138180?k=6&m=1132138180&s=612x612&w=0&h=eV9TZtWe-vMRXeJds3qF8PdC7-fb5QloC-X1XWLtGpE=");
	background-color: #00BFFF;
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: auto;
  	position: relative;
}

header{
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1, h2{
	font-family:'Comic Neue', cursive;
}

header h1{
	color: white;
	font-size: 50px;
	text-align: center;
}

header img{
	border-radius: 150px;
	width: 300px;
	border: 10px solid dimgray;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

main img{
	max-width: 100%
}

h2{
	font-size: 35px;
	color: white;
	margin: 40px 0 10px;
}